.Rproj.user
.Rhistory
.RData
.Ruserdata
EXTRACTIONS/
Examples/
Icon
"Icon\r"
"Icon"
Results/
RAW/
Presentations/
.dropbox
!Data/
Data/*
!Data/az_nm/
Data/az_nm/*
!Data/az_nm/raw_correlated_2904.RData
!Data/az_nm/annual_ppt_cm.RData
!Data/Tornetrask/
!Data/Tornetrask/*
